@import 'reset.css';
@import 'transitions.css';


#root
{
  background: #444 url("london.jpg") center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.quiz-entry
{
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;
    grid-gap: 20px;
}

.quiz-entry__question
{
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1.3em;
    text-align: center;
}

@media (orientation: portrait) {
  .quiz-entry {
    grid: 1fr 100px 100px 100px / 1fr;
  }
}

@media (orientation: landscape) {
  .quiz-entry {
    grid: 1fr 1fr 1fr / 2fr 1fr;
  }
  .quiz-entry__question
  {
    grid-row: 1/4;
    text-align: left;
  }
}

.quiz-entry__answer
{
  width: 100%;
  height: 100%;
}

.quiz-entry__answer-button
{
    line-height: 1.3em;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    text-align: center;

    color: #333;
    border-radius: 20px;
    background: rgba(255,255,255,.8);
    box-shadow: none;
    text-shadow: none;
}

.quiz-entry__answer-button:hover
{
    background: rgba(255,255,255,.7);
}

.quiz-entry__answer-button:active
{

    color: #eee;
    box-shadow: inset 0 1px 2px #000;
    text-shadow: none;
}

.hero
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0px 20px #000;
}

.powered-by {
  background: url('./logo.svg');
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.powered-by::before {
    content: 'Powered by';
    font-size: 11px;
    line-height: 1em;
    position: absolute;
    color: #324461;
}
