* { margin: 0; padding: 0; cursor: default; }
body { font: normal 24px/1.2em 'Helvetica Neue', sans-serif; background: #444; }

#root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.quiz-entry {
    display: grid;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;

    grid: 1fr 100px 100px / 1fr 1fr;
    grid-gap: 20px;
}

.quiz-entry__question {
    font-size: 42px;
    font-weight: bold;

    padding-top: 100px;

    text-align: center;

    color: #fff;
    text-shadow: 0 1px 2px #000;

    grid-column: 1/3;
}

.quiz-entry__answer {
    line-height: 100px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 20px;
    background: rgba(255,255,255,.4);
    text-shadow: 0 1px 0 #000;
}

.quiz-entry__answer:hover {
    background: rgba(255,255,255,.5);
}

.quiz-entry__answer:active {
    line-height: 102px;

    color: #eee;
    box-shadow: inset 0 1px 2px #000;
    text-shadow: none;
}
